* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Inter, sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    height: 60px;
}

.nav--logo {
    width: 20px;
    margin-right: 7px;
}

.nav--title {
    color: white;
    letter-spacing: -0.075em;
}

/* Cards */
.cards {
    /* border: 1px solid blue; */
    margin: 50px 40px;
}

.card {
    /* border: 1px solid red; */
    margin-top: 20px;
    display: flex;
    border-bottom: 1px solid #F0F0F0;
}

.card--img {
    width: 125px;
    height: 168px;
    margin: 20px 20px 20px 0;
    border-radius: 5px;
    flex-grow: 0;
    flex-shrink: 1;
}

.card--info {
    margin: 20px 0 20px 0;
}

.card--marker {
    margin-right: 5px;
}

.card--location {
    margin-right: 5px;
    font-size: 11px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #2B283A
}

.card--link {
    font-size: 11px;
    text-decoration-line: underline;
    color: #918E9B;
}

.card--title {
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    margin-top: 4px;
}

.card--time {
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    color: #2B283A;
    margin-top: 7px;
}

.card--description {
    font-size: 11px;
    line-height: 15px;
    color: #2B283A;
}